process {
    withLabel: antismash {
        container = 'antismash/standalone:7.1.0'
    }

    withLabel: bbmap {
        container = 'https://depot.galaxyproject.org/singularity/bbmap:38.19--h470a237_0'
    }

    withLabel: bcftools {
        container = 'staphb/bcftools:1.17'
    }

    withLabel: bioawk {
        container = 'https://depot.galaxyproject.org/singularity/bioawk:1.0--h5bf99c6_6'
    }

    withLabel: blast {
        container = 'https://depot.galaxyproject.org/singularity/blast:2.15.0--pl5321h6f7f691_1'
    }

    withLabel: bwa {
        container = 'https://depot.galaxyproject.org/singularity/bwa:0.7.18--he4a0461_0'
    }

	withLabel: coding_quarry {
        container = 'pavmis/cqpm:1.1'
    }

	withLabel: eggnog {
        container = 'https://depot.galaxyproject.org/singularity/eggnog-mapper:2.1.12--pyhdfd78af_2'
    }

	withLabel: exonerate {
        container = 'https://depot.galaxyproject.org/singularity/exonerate:2.4.0--hb9dd440_2'
    }

    withLabel: fastp {
        container = 'https://depot.galaxyproject.org/singularity/fastp:0.23.4--h5f740d0_0'
    }

    withLabel: flye {
        container = 'https://depot.galaxyproject.org/singularity/flye:2.9.5--py39hdf45acc_1'
    }

	withLabel: funannotate {
        container = 'nextgenusfs/funannotate:v1.8.15'
    }

	withLabel: gaas {
        container = 'https://depot.galaxyproject.org/singularity/gaas:1.2.0--pl526r35_0'
    }

    withLabel: gatk {
        container = 'broadinstitute/gatk:4.2.6.1'
    }

    withLabel: iqtree {
        container = 'https://depot.galaxyproject.org/singularity/iqtree:2.3.4--h21ec9f0_0'
    }

    withLabel: kraken {
        container = 'https://depot.galaxyproject.org/singularity/kraken2:2.1.3--pl5321hdcf5f25_1'
    }

    withLabel: krakentools {
        container = 'https://depot.galaxyproject.org/singularity/krakentools:1.2--pyh5e36f6f_0'
    }

	withLabel: metaeuk {
        container = 'https://depot.galaxyproject.org/singularity/metaeuk:7.bba0d80--pl5321hd6d6fdc_2'
    }

    withLabel: mitoz {
        container = 'quay.io/biocontainers/mitoz:3.6--pyhdfd78af_1'
    }

    withLabel: nanocomp {
        container = 'https://depot.galaxyproject.org/singularity/nanocomp:1.12.0--py_0'
    }

	withLabel: pasa {
        container = 'pasapipeline/pasapipeline:2.5.2'
    }

    withLabel: polypolish {
        container = 'https://depot.galaxyproject.org/singularity/polypolish:0.6.0--hdbdd923_0'
    }
	
    withLabel: pomoxis {
        container = 'https://depot.galaxyproject.org/singularity/pomoxis%3A0.3.15--pyhdfd78af_0'
    }

	withLabel: protein_ortho {
        container = 'https://depot.galaxyproject.org/singularity/proteinortho:6.3.1--h70414c8_0'
    }

    withLabel: python {
        container = 'https://depot.galaxyproject.org/singularity/python:3.12'
    }

    withLabel: samtools {
        container = 'https://depot.galaxyproject.org/singularity/samtools:1.21--h50ea8bc_0'
    }

	withLabel: seqkit {
        container = 'https://depot.galaxyproject.org/singularity/seqkit:2.9.0--h9ee0642_0'
    }

    withLabel: spades {
        container = 'https://depot.galaxyproject.org/singularity/spades:4.0.0--h5fb382e_0'
    }

	withLabel: star {
        container = 'https://depot.galaxyproject.org/singularity/star:2.7.9a--h9ee0642_0'
    }
}
