//
// Output directories setup
//

process {

    // Funannotate - Pasa -----------------------------------------------
    publishDir = [
        path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'FUNANNOTATE_GENE_PREDICTION' {
        publishDir = [
            path: "${params.outputdir}/funannotate_predictions",
            mode: 'copy',
        ]
    }
    withName: 'FUNANNOTATEPASA_GENE_PREDICTION_CQ' {
        publishDir = [
            path: "${params.outputdir}/funannotate_predictions",
            mode: 'copy',
        ]
    }
    withName: 'FUNANNOTATE_GENE_PREDICTION_TRAINED' {
        publishDir = [
            path: "${params.outputdir}/funannotate_predictions",
            mode: 'copy',
        ]
    }
    withName: 'FUNANNOTATE_SORT' {
        publishDir = [
            path: "${params.outputdir}/funannotate_predictions/genome_clean",
            mode: 'copy',
        ]
    }
    withName: 'CQ_PATHOGENMODE' {
        publishDir = [
            path: "${params.outputdir}/cqpm",
            mode: 'copy',
        ]
    }
    withName: 'FUNANNOTATE_ANNOTATE' {
        publishDir = [
            path: "${params.outputdir}/funannotate_annotate",
            mode: 'copy',
        ]
    }
    withName: 'PASA_ASMBLSTOTRAINING' {
	publishDir = [
	     path: "${params.outputdir}/pasa_predictions/",
	     mode: 'copy',
    ]
    }
    //--------------------------------------------------------------------
}
